In [1]:
import pandas as pd

In [ ]:
data_mentor = pd.read_csv('data-mentors.csv', delimiter='\s+', header=None)

In [8]:
data_pairing = pd.read_csv('data-pairings.csv', delimiter='\s+', header=None)
data_pairing

                               0         1
0        Mentors,Students,Second  Students
1         Mentor1,Student18,None       NaN
2         Mentor2,Student86,None       NaN
3         Mentor3,Student45,None       NaN
4         Mentor4,Student10,None       NaN
5    Mentor5,Student19,Student80       NaN
6         Mentor6,Student49,None       NaN
7         Mentor7,Student14,None       NaN
8         Mentor8,Student92,None       NaN
9         Mentor9,Student84,None       NaN
10       Mentor10,Student75,None       NaN
11       Mentor11,Student65,None       NaN
12       Mentor12,Student51,None       NaN
13       Mentor13,Student16,None       NaN
14       Mentor14,Student42,None       NaN
15       Mentor15,Student43,None       NaN
16        Mentor16,Student8,None       NaN
17       Mentor17,Student91,None       NaN
18       Mentor18,Student35,None       NaN
19       Mentor19,Student34,None       NaN
20       Mentor20,Student68,None       NaN
21       Mentor21,Student52,None       NaN
22  Mentor22,Student15,Student50       NaN
23       Mentor23,Student73,None       NaN
24       Mentor24,Student59,None       NaN
25       Mentor25,Student25,None       NaN
26       Mentor26,Student13,None       NaN
27       Mentor27,Student31,None       NaN
28       Mentor28,Student57,None       NaN
29       Mentor29,Student87,None       NaN
30       Mentor30,Student26,None       NaN
31       Mentor31,Student37,None       NaN
32       Mentor32,Student53,None       NaN
33       Mentor33,Student88,None       NaN
34       Mentor34,Student69,None       NaN
35       Mentor35,Student62,None       NaN
36       Mentor36,Student63,None       NaN
37       Mentor37,Student55,None       NaN
38       Mentor38,Student79,None       NaN
39       Mentor39,Student58,None       NaN
40       Mentor40,Student38,None       NaN
41       Mentor41,Student67,None       NaN
42       Mentor42,Student47,None       NaN
43        Mentor43,Student5,None       NaN
44       Mentor44,Student29,None       NaN